<!DOCTYPE html>
<html>

<head>
    <title>Bosham Capital Advisors</title>

    <!-- Facebook Pixel Code -->
    <script>
        ! function(f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function() {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');

        fbq('init', '1141828599207497');
        fbq('track', "PageView");
    </script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1141828599207497&ev=PageView&noscript=1" /></noscript>
    <!-- End Facebook Pixel Code -->
</head>

    <header class="header hero">
        <div class="header-navigation-container">
            <div class="header-navigation-container-inner">
                <a href="/" class="header-logo-container desktop-only">
                    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
                        <img class="logoSize" src="https://bosham.herokuapp.com/assets/bca_logo_blue3-76ef025974e448e0445cf09380267b984ac0a6198990601dbd370355688f6551.png"></img>
                </a>
                <nav class="header-navigation desktop-only">
                    <a href="/main/about" class="header-navigation-link ">About</a>
                    <a href="/main/about" class="header-navigation-link ">Team</a>
                    <a href="/main/about" class="header-navigation-link ">Portfolio</a>
                    <a href="/main/about" class="header-navigation-link ">Deals</a>
                    <a href="/press" class="header-navigation-link ">Press Release</a>
                    <a href="/contact" class="header-navigation-link ">Contact</a>
                </nav>
                <!-- .header-navigation -->
                <div class="header-logo-mobile tablet-only">
                    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
                        <img class="logoSize" src="https://bosham.herokuapp.com/assets/bca_logo_blue3-76ef025974e448e0445cf09380267b984ac0a6198990601dbd370355688f6551.png"></img>
                </div>
                <!-- .header-logo-mobile -->
                <a href="#" class="header-menu-trigger tablet-only">
                    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
                        <svg width="30" height="22" viewBox="0 0 30 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g class="menu-mobile-icon" stroke="none" stroke-width="1" fill-rule="evenodd" fill="#FFFFFF">
                                <rect class="menu-mobile-icon-top" x="0.48046875" y="0" width="28" height="3" rx="2" />
                                <rect class="menu-mobile-icon-middle" x="0.48046875" y="9" width="28" height="3" rx="2" />
                                <rect class="menu-mobile-icon-bottom" x="0.48046875" y="18" width="28" height="3" rx="2" />
                            </g>
                        </svg>
                </a>
                <!-- .header-menu-trigger -->
            </div>
            <!-- .header-navigation-container-inner -->
        </div>
        <!-- .header-navigation-container -->
        <h1 class="header-title">We Invest. We Advise.<br> We Raise Capital.</h1>
    </header>
    <!-- .header -->

<body id="home">

    <section class="home-services">
        <div class="section-container">
            <h3 class="section-title text-centered">What we do</h3>
            <p class="section-text text-centered">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
            <div class="home-services-boxes columns-3">
                <div class="home-services-box columns-item">
                    <svg class="home-services-box-icon" xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 24 24">
                      <g class="icon-fill" fill="#113255">
                        <path d="M18.5 15c-2.485 0-4.5 2.015-4.5 4.5s2.015 4.5 4.5 4.5 4.5-2.015 4.5-4.5-2.015-4.5-4.5-4.5zm0 2l2.5 3h-2v2h-1v-2h-2l2.5-3zm-6.346 3.894c-.918.506-1.996.839-3.154 1.001v2.105h-2v-1.996c-2.069-.037-4.213-.53-6-1.453l.909-3.289c1.912.742 4.457 1.53 6.45 1.079 2.299-.521 2.769-2.885.229-4.021-1.863-.867-7.557-1.611-7.557-6.487 0-2.725 2.078-5.165 5.969-5.7v-2.133h2v2.036c1.447.038 3.071.29 4.885.841l-.725 3.295c-1.535-.539-3.232-1.029-4.885-.929-2.979.174-3.24 2.752-1.162 3.832 2.854 1.342 6.425 2.401 7.534 5.203-2.025 1.497-3.058 4.039-2.493 6.616z"/>
                      </g>
                    </svg>
                    <h4 class="home-services-box-title">Investment</h4>
                    <p class="home-services-box-text">BCA invests partner capital etc, etc..</p>
                </div>
                <!-- .home-services-box -->
                <div class="home-services-box columns-item">

                      <svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 24 24">
                        <g class="icon-fill" fill="#113255">
                          <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm8.975 16.383l-2.608-1.485c.403-.884.633-1.863.633-2.898s-.23-2.014-.633-2.897l2.608-1.485c.65 1.325 1.025 2.809 1.025 4.382s-.375 3.057-1.025 4.383zm-18.975-4.383c0-1.573.375-3.057 1.025-4.383l2.608 1.485c-.403.884-.633 1.863-.633 2.898s.23 2.014.633 2.897l-2.608 1.485c-.65-1.325-1.025-2.809-1.025-4.382zm5 0c0-2.757 2.243-5 5-5s5 2.243 5 5-2.243 5-5 5-5-2.243-5-5zm9.397-8.968l-1.485 2.608c-.888-.407-1.872-.64-2.912-.64s-2.024.233-2.912.64l-1.485-2.608c1.329-.654 2.818-1.032 4.397-1.032s3.068.378 4.397 1.032zm-8.794 17.936l1.485-2.608c.888.407 1.872.64 2.912.64s2.024-.233 2.912-.64l1.485 2.608c-1.329.654-2.818 1.032-4.397 1.032s-3.068-.378-4.397-1.032z"/>
                        </g>
                      </svg>

                    <h4 class="home-services-box-title">Advisory</h4>
                    <p class="home-services-box-text">Lorem ipsum dolor sit amet.</p>
                </div>
                <!-- .home-services-box -->
                <div class="home-services-box columns-item">
                  <svg class="home-services-box-icon" xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 24 24">
                    <g class="icon-fill" fill="#113255">
                      <path d="M12.164 7.165c-1.15.191-1.702 1.233-1.231 2.328.498 1.155 1.921 1.895 3.094 1.603 1.039-.257 1.519-1.252 1.069-2.295-.471-1.095-1.784-1.827-2.932-1.636zm1.484 2.998l.104.229-.219.045-.097-.219c-.226.041-.482.035-.719-.027l-.065-.387c.195.03.438.058.623.02l.125-.041c.221-.109.152-.387-.176-.453-.245-.054-.893-.014-1.135-.552-.136-.304-.035-.621.356-.766l-.108-.239.217-.045.104.229c.159-.026.345-.036.563-.017l.087.383c-.17-.021-.353-.041-.512-.008l-.06.016c-.309.082-.21.375.064.446.453.105.994.139 1.208.612.173.385-.028.648-.36.774zm10.312 1.057l-3.766-8.22c-6.178 4.004-13.007-.318-17.951 4.454l3.765 8.22c5.298-4.492 12.519-.238 17.952-4.454zm-2.803-1.852c-.375.521-.653 1.117-.819 1.741-3.593 1.094-7.891-.201-12.018 1.241-.667-.354-1.503-.576-2.189-.556l-1.135-2.487c.432-.525.772-1.325.918-2.094 3.399-1.226 7.652.155 12.198-1.401.521.346 1.13.597 1.73.721l1.315 2.835zm2.843 5.642c-6.857 3.941-12.399-1.424-19.5 5.99l-4.5-9.97 1.402-1.463 3.807 8.406-.002.007c7.445-5.595 11.195-1.176 18.109-4.563.294.648.565 1.332.684 1.593z"/>
                    </g>
                    </svg>
                    <h4 class="home-services-box-title">Capital Raising</h4>
                    <p class="home-services-box-text">Lorem ipsum dolor sit amet.</p>
                </div>
                <!-- .home-services-box -->
            </div>
            <!-- .home-services-boxes -->
            <a href="/services" class="home-services-cta button button-blue">Read More</a>
        </div>
        <!-- .section-container -->
    </section>
    <!-- .home-services -->

    <section class="home-products">
        <div class="section-container spacing-small">
            <h3 class="section-title text-white text-centered">For Investors</h3>
            <p class="section-text text-white text-centered">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <a href="/products" class="home-products-cta button button-white">Invest with us</a>
            <img class="home-products-img" src="/assets/images/home/products-macbook.png" width="100%" height="auto" />
        </div>
        <!-- .section-container -->
    </section>
    <!-- .home-products -->

    <section class="home-community">
        <div class="section-container spacing-small">
        <div class="home-community-content">
            <div class="home-community-left">
            </div>
            <div class="home-community-right">
                <h3 class="section-title">For Companies</h3>
                <p class="section-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <a href="/community" class="home-community-cta button button-blue">Find out more</a>
            </div>
            <!-- .home-community-right -->
        </div>
      </div>
        <!-- .home-community-content -->
    </section>
    <!-- .home-community -->

    <section class="hire-us blue-background">
        <div class="section-container spacing-large">
            <h3 class="section-title text-white text-centered">Get in touch.</h3>
            <p class="section-text text-white text-centered">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <a href="/contact" class="hire-us-cta button button-silver">Contact</a>
        </div>
        <!-- .section-container -->
    </section>
    <!-- .hire-us -->

    <script src="/assets/js/index.js"></script>
</body>

</html>
